body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

button {
  all: unset;
  padding: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  font-size: small;
  font-weight: 600;
  width: 14px;
  height: 14px;
}

.add-btn {
  width: 20px;
  height: 20px;
}
.save-btn {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button:hover {
  opacity: 0.7;
}

input {
  all: unset;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  font-size: small;
  text-indent: 8px;
}
.edit-input {
  all: unset;
  width: 100px;
  height: 100%;
  border-bottom: 2px solid #feb47b;
}
.container {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}
ul {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
li {
  all: unset;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  font-size: small;
  border-radius: 15px;
  width: 182px;
}
